DEBUG=1
SECRET_KEY=django-insecure-cambia-esto
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

DJANGO_SETTINGS_MODULE=config.settings.local

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

DATABASE_URL=
LOG_LEVEL=INFO

#el dia de mañana habra que añadir las credenciales para la conexiones a Verifacti
# Media: no necesarias en local; obligatorias en producción (object storage S3-compatible).
MEDIA_STORAGE_ENDPOINT_URL=
MEDIA_STORAGE_ACCESS_KEY=
MEDIA_STORAGE_SECRET_KEY=
MEDIA_STORAGE_BUCKET_NAME=
MEDIA_STORAGE_REGION=
MEDIA_STORAGE_CUSTOM_DOMAIN=
MEDIA_STORAGE_PUBLIC_READ=1
